---
layout: default
---

<ul>
{% for post in site.posts %}
  <li>{{ post.title }} — featured: {{ post.featured }}</li>
{% endfor %}
</ul>


<!--  Featured Section -->
<div class="featured-posts">
  <h2>⭐ FEATURED </h2>
  {% for post in site.posts %}
    {% if post.featured == "true" %}
      <!-- featured post template -->
    <article class="post">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
    </article>
    {% endif %}
  {% endfor %}
</div>

<hr>

<!-- 🔁 All Posts -->
<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <header class="post-header">
        <h2 class="post-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">{{ post.date | date: "%B %d, %Y" }}</p>
      </header>
      <div class="post-excerpt">
        {{ post.excerpt | strip_html | truncate: 160 }}
      </div>
    </article>
  {% endfor %}
</div>
