<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <!-- 기본 스타일 -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <!-- tomorrow night theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-tomorrow.min.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap" rel="stylesheet">
  
  <!-- Prism.js core -->
  <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script>

  <!-- Prism.js 언어별 컴포넌트 (필요한 것만 추가) -->
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-python.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-bash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-javascript.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-powershell.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-json.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-html.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-css.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-ruby.min.js"></script>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PM688VYD1L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-PM688VYD1L');
  </script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('.copy-button').forEach(button => {
        button.addEventListener('click', function() {
          const code = button.nextElementSibling.querySelector('code');
          if (!code) return;
    
          navigator.clipboard.writeText(code.innerText).then(() => {
            button.textContent = 'Copied!';
            setTimeout(() => button.textContent = 'Copy', 1500);
          }).catch(err => {
            console.error('Failed to copy!', err);
          });
        });
      });
    });
    </script>    
</head>
