<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <a href="{{ site.baseurl }}/About/">ABOUT</a>
      <a href="{{ site.baseurl }}/categories/HTB/">HTB</a>
      <!-- <a href="{{ site.baseurl }}/categories/POC/">POC</a>
      <a href="{{ site.baseurl }}/categories/CVE/">CVE</a> -->
      <a href="{{ site.baseurl }}/categories/BAU/">BAU</a>
      <a href="{{ site.baseurl }}/categories/PROJECTS/">PROJECTS</a>
    </nav>
  </div>
</header>
