<header class="site-header">
    <div class="wrapper">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <nav class="site-nav">
        <a href="{{ site.baseurl }}/_pages/about/">About</a>
        <a href="{{ site.baseurl }}/categories/hackthebox/">HTB</a>
        <a href="{{ site.baseurl }}/categories/other/">Other</a>
        <a href="{{ site.baseurl }}/categories/poc/">PoC</a>
        <a href="{{ site.baseurl }}/categories/cve-analysis/">CVE Analysis</a>
      </nav>
    </div>
  </header>
  