<!DOCTYPE html> 
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

    {% if page.layout == "post" %}
    <!-- TOC only for posts -->
    <div id="toc-wrapper">
      <nav id="toc"></nav>
    </div>
    {% endif %}

    <main class="content" role="main">
      {{ content }}
    </main>

    {% include footer.html %}

    {% if page.layout == "post" %}
    <!-- Load TOC JavaScript only for posts -->
    <script src="/assets/js/toc.js"></script>
    {% endif %}
    
  </body>
</html>
